<template>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <NuxtLink :to="{ name: 'home' }" class="navbar-brand">
          OLX-parser
        </NuxtLink>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon" />
        </button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <NuxtLink :to="{ name: 'settings' }" exact class="nav-link" exact-active-class="active">
                Settings <span class="sr-only">(current)</span>
              </NuxtLink>
            </li>
            <li class="nav-item">
              <NuxtLink :to="{ name: 'ads' }" exact class="nav-link" exact-active-class="active">
                Search result
              </NuxtLink>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  name: 'TheHeader'
}
</script>
