<template>
  <div class="image-carousel">
    <div class="image-wrapper">
      <img :src="image" alt="">
    </div>
    <div>
      <button class="btn btn-dark" @click="onPrevImg">
        Prev
      </button>
      <span class="images-counter">{{ imageNum }} / {{ imagesCount }}</span>
      <button class="btn btn-dark" @click="onNextImg">
        Next
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ImageCarousel',
  props: {
    images: {
      type: Array,
      required: true
    }
  },
  data: () => ({
    currentImageIndex: 0
  }),
  computed: {
    image () {
      return this.images[this.currentImageIndex]
    },
    imageNum () {
      return this.currentImageIndex + 1
    },
    imagesCount () {
      return this.images.length
    }
  },
  methods: {
    onPrevImg () {
      if (this.currentImageIndex > 0) {
        this.currentImageIndex--
      }
    },
    onNextImg () {
      if (this.currentImageIndex < this.images.length - 1) {
        this.currentImageIndex++
      }
    }
  }
}
</script>

<style scoped lang="scss">
.image-carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: white;
  margin-bottom: 15px;
  padding: 15px;

  .image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    img {
      height: 500px;
    }
  }

  .images-counter {
    padding-right: 10px;
    padding-left: 10px;
  }
}
</style>
