<template>
  <div class="form-wrapper">
    <h1>Login</h1>
    <form>
      <div class="form-group">
        <label for="email">Email address</label>
        <input id="email" type="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary btn-block">
        Login
      </button>
      <div class="link-wrapper">
        <NuxtLink :to="{ name: 'register' }" class="register-link">
          Go to registration
        </NuxtLink>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  layout: 'auth'
}
</script>

<style scoped lang="scss">
.form-wrapper {
  width: 350px;

  h1 {
    text-align: center;
  }

  form {
    width: 350px;
    padding: 15px;
    border: 1px solid #cacaca;
    background-color: #fff;
    border-radius: 4px;

    .link-wrapper {
      display: flex;
      justify-content: center;
      padding-top: 15px;

      .register-link {
        text-align: center;
      }
    }
  }
}
</style>
