<template>
  <div class="form-wrapper">
    <h1>Registration</h1>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input id="email" type="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" class="form-control">
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input id="confirm-password" type="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary btn-block">
        Register
      </button>
      <div class="link-wrapper">
        <nuxt-link :to="{ name: 'login' }" class="login-link">
          Go to login
        </nuxt-link>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  layout: 'auth'
}
</script>

<style scoped lang="scss">
.form-wrapper {
  width: 450px;

  h1 {
    text-align: center;
  }

  form {
    background-color: #fff;
    width: 450px;
    padding: 15px;
    border: 1px solid #cacaca;
    border-radius: 4px;

    .link-wrapper {
      display: flex;
      justify-content: center;
      padding-top: 15px;

      .register-link {
        text-align: center;
      }
    }
  }
}
</style>
