<template>
  <div class="container">
    <Nuxt />
  </div>
</template>
<style scoped lang="scss">
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
</style>
