<template>
  <main class="container pt-4">
    <ImageCarousel :images="images" />
    <div class="description-container">
      <h1 class="description-header">
        Сдам свою 3к квартиру на Алексеевке. Хозяйка.
      </h1>
      <div class="price">
        400 $
      </div>
      <div class="offer-details">
        <a type="button" class="btn btn-outline-secondary">
          <span class="offer-details__name">Объявление от</span>
          <strong class="offer-details__value">Частного лица</strong>
        </a>
        <a type="button" class="btn btn-outline-secondary">
          <span class="offer-details__name">Выберите рубрику</span>
          <strong class="offer-details__value">Долгосрочная аренда квартир, комнат</strong>
        </a>
        <a type="button" class="btn btn-outline-secondary">
          <span class="offer-details__name">Без комиссии</span>
          <strong class="offer-details__value">Без комиссии</strong>
        </a>
        <a type="button" class="btn btn-outline-secondary">
          <span class="offer-details__name">Готов сотрудничать с риэлторами</span>
          <strong class="offer-details__value">Готов сотрудничать с риэлторами</strong>
        </a>
      </div>
      <div class="description-content">
        <h3>Описание</h3>
        <div class="description-content-text">
          Сдам свою 3 к квартиру с ремонтом и всей тнеобходимой мебелью и техникой. Можно иностранных граждан. Агенты приветствуются.
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import ImageCarousel from '~/components/ImageCarousel'
export default {
  components: { ImageCarousel },
  fetch ({ store, params }) {
    store.dispatch('loadAd', +params.id)
  },
  data: () => ({
    images: [
      'https://ireland.apollo.olxcdn.com/v1/files/71gsxdtdpiy23-UA/image;s=1000x700',
      'https://ireland.apollo.olxcdn.com/v1/files/3fcv68u6w18z-UA/image;s=1000x700',
      'https://ireland.apollo.olxcdn.com/v1/files/fn8iv9gxspk12-UA/image;s=1000x700',
      'https://ireland.apollo.olxcdn.com/v1/files/a1ukmv097upy-UA/image;s=1000x700',
      'https://ireland.apollo.olxcdn.com/v1/files/y5wdile3rco31-UA/image;s=1000x700',
      'https://ireland.apollo.olxcdn.com/v1/files/epqie2g7tu5u-UA/image;s=1000x700'
    ]
  }),
  created () {
    const currentAd = this.$store.getters.currentAd(+this.$route.params.id)
    console.log(currentAd, +this.$route.params.id)
    // console.log(this.currentAd(this.$router.))
  }
}
</script>

<style scoped lang="scss">
.description {
  &-content {
    padding-top: 30px;
  }

  &-container {
    background: white;
    margin-bottom: 15px;
    padding: 15px;

    .price {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    .offer-details {
      .btn {
        margin-bottom: 5px;
      }

      &__name {
        &::after {
          content: ':';
          margin-right: 3px;
          display: inline-block;
        }
      }
    }
  }

  &-header {
    font-size: 24px;
  }
}
</style>
