<template>
  <main class="container pt-4">
    <h1 class="text-center">
      Результат поиска
    </h1>
    <hr>
    <AdsList :ads="ads" />
  </main>
</template>

<script>
import { mapState } from 'vuex'
import AdsList from '~/components/ads/AdsList'
export default {
  components: { AdsList },
  fetch ({ store }) {
    store.dispatch('loadAds')
  },
  computed: {
    ...mapState(['ads'])
  }
}
</script>
