<template>
  <ul class="list">
    <AdsListItem v-for="ad of ads" :key="ad.id" :item="ad" />
  </ul>
</template>

<script>
import AdsListItem from '~/components/ads/AdsListItem'
export default {
  name: 'AdsList',
  components: { AdsListItem },
  props: {
    ads: {
      type: Array,
      default: () => ([])
      // required: true
    }
  }
}
</script>

<style scoped lang="scss">
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
</style>
