<template>
  <li class="list-item">
    <div class="list-item-image">
      <NuxtLink :to="{ name: 'ads-detail', params: { id: item.id } }">
        <img :src="item.image" :alt="item.title">
      </NuxtLink>
    </div>
    <div class="list-item__content">
      <div class="list-item__header">
        <h4>
          <NuxtLink :to="{ name: 'ads-detail', params: { id: item.id } }">
            {{ item.title }}
          </NuxtLink>
        </h4>
        <span>{{ price }}</span>
      </div>
      <div class="list-item__footer">
        {{ item.city }}, {{ item.district }}, {{ item.date }}
      </div>
    </div>
  </li>
</template>

<script>
export default {
  name: 'AdsListItem',
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  computed: {
    price () {
      const formatter = new Intl.NumberFormat('ru-RU', {
        style: 'currency',
        currency: this.item.currency,
        minimumFractionDigits: 0
      })
      return formatter.format(this.item.price)
    }
  }
}
</script>

<style scoped lang="scss">
.list-item {
  background: white;
  height: 168px;
  margin-bottom: 15px;
  overflow: hidden;
  display: flex;
  padding: 8px;

  &__content {
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 216px);
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 86%;
  }

  &-image {
    width: 216px;
    height: 152px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
</style>
